<ion-view view-title="My Refrigerator" cache-view="false">

    <ion-nav-buttons side="secondary">
      <button class="button" ng-click="home.newItem()">
        New
      </button>
    </ion-nav-buttons>
 
<ion-content>

	<div ng-cloak=""> <!-- to avoid the flicker effect caused by the html template display, waits until all is loaded -->
	  <md-content>
	    <md-tabs md-dynamic-height="" md-border-bottom="">
	      <md-tab label="All">
	        <md-content class="md-padding">
	          <!-- <h1 class="md-display-2">All</h1> -->
				<ion-list ng-repeat="item in home.allItems">
					<ion-item class="no_white_space">
						<strong>Name</strong> : {{item.name}} <br>
						<strong>Category</strong> : {{home.categories[item.category_id]}} <br>
						<span ng-if="item.purchase_date">
							<strong>Purchased</strong> :{{item.purchase_date}} <br>	
						</span>
						<span ng-if="item.expiration_date">
							<strong>Expiration</strong> : {{item.expiration_date}}	
						</span>
						
					    <ion-option-button ng-click="home.editButton(event, item)" class="button button-edit">Edit</ion-option-button>
					    <ion-option-button ng-click="home.delete(item.id)" class="button button-delete">Delete</ion-option-button>
					</ion-item>

				</ion-list>
	         
	        </md-content>
	      </md-tab>
	      <md-tab label="Fridge">
	        <md-content class="md-padding">
	        <ion-list ng-repeat="item in home.allItems">
						<ion-item class="no_white_space" ng-if="!(item.in_freezer === true)">
							<strong>Name</strong> : {{item.name}} <br>
							<strong>Category</strong> : {{home.categories[item.category_id]}} <br>
							<span ng-if="item.purchase_date">
								<strong>Purchased</strong> :{{item.purchase_date}} <br>	
							</span>
							<span ng-if="item.expiration_date">
								<strong>Expiration</strong> : {{item.expiration_date}}	
							</span>
							
						    <ion-option-button ng-click="home.editButton(event, item)" class="button button-edit">Edit</ion-option-button>
						    <ion-option-button ng-click="home.delete(item.id)" class="button button-delete">Delete</ion-option-button>
						</ion-item>
					</ion-list>
	        </md-content>

	      </md-tab>
	      <md-tab label="Freezer">
	        <md-content class="md-padding">
	          <ion-list ng-repeat="item in home.allItems">
							<ion-item class="no_white_space" ng-if="item.in_freezer === true">
								<strong>Name</strong> : {{item.name}} <br>
								<strong>Category</strong> : {{home.categories[item.category_id]}} <br>
								<span ng-if="item.purchase_date">
									<strong>Purchased</strong> :{{item.purchase_date}} <br>	
								</span>
								<span ng-if="item.expiration_date">
									<strong>Expiration</strong> : {{item.expiration_date}}	
								</span>
								
							    <ion-option-button ng-click="home.editButton(event, item)" class="button button-edit">Edit</ion-option-button>
							    <ion-option-button ng-click="home.delete(item.id)" class="button button-delete">Delete</ion-option-button>
							</ion-item>
						</ion-list>
	        </md-content>
	      </md-tab>
	      <md-tab label="Category">
	        <md-content class="md-padding">
	           <ion-list ng-repeat="(key, value) in home.categories">
							<ion-item class="no_white_space" href="#/tab/category/{{key}}">
								<strong>{{value}}</strong> 
							    <!-- <ion-option-button ng-click="home.showPrompt(event, item)" class="button button-edit">Edit</ion-option-button>
							    <ion-option-button ng-click="home.delete(item.id)" class="button button-delete">Delete</ion-option-button> -->
							</ion-item>
						</ion-list>
	        </md-content>
	      </md-tab>	      
	    </md-tabs>
	  </md-content>
	</div>

</ion-content>
</ion-view>


 