<ion-view view-title="My Refrigerator">
  <ion-content class="padding">

    hello
    <ul class="list" ng-controller="PeopleController">
          <div class="bar bar-header item-input-inset">
          <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="new.name">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Phone" ng-model="new.phone">
          </label>
            <button class="button button-positive" ng-click="register()">
              Register
            </button>
          </div>
          <li class="item" ng-repeat="person in people">
            <h3><input type="text" ng-model="person.name"></h3>
            <p><input type="text" ng-model="person.phone"></p>
            <button class="button button-balanced" ng-click="edit(person)">
              Edit
            </button>

            <button class="button button-assertive" ng-click="delete(person)">
              Delete
            </button>
          </li>
    </ul>
    <!-- <h2>Welcome to Ionic</h2>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p> -->
  </ion-content>
</ion-view>
