<ion-view view-title="Recipes">

    <ion-nav-buttons side="secondary">
      <button class="button" ng-click="recipe.newRecipe()">
        New
      </button>
    </ion-nav-buttons>
 
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="recipe.refresh()"></ion-refresher>
		<ion-list ng-repeat="item in recipe.allRecipes">
			<ion-item class="no_white_space">
	        
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{item.title}}</span>
                      <!-- <span class="md-subhead">Large</span> -->
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-lg card-media">
                        <img ng-src="{{item.image_url}}" alt="">
                      </div>
                    </md-card-title-media>
                  </md-card-title>

                  <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="recipe.showDialog(item)">Detail</md-button>
                    <md-button ng-click="recipe.deleteRecipe(item)">Delete</md-button>
                  </md-card-actions>
                </md-card>        
                              
			</ion-item>

		</ion-list>

	</ion-content>

</ion-view>